@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* fonts */
@font-face {
  font-family: "Book antiqua";
  src:
    url('./fonts/book_antiqua/bookantiqua.ttf');
}

/* header */

.header {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0px 40px;
  height: 97px;
  width: 100%;
  background-color: #378A6F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 67.5px;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.header--nav--label {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  font-family: 'Montserrat';
  cursor: pointer;
}

.contacts {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.contact {
  background-color: #CF9D52;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.layout {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  background-color: #F8F8F8;
}

/* Замена контейнера */
.custom-container {
  max-width: 1260px;
  padding-right: 40px;
  padding-left: 40px;
  margin-right: auto;
  margin-left: auto;
}
/* main */
.main {
  background-color: #F8F8F8;
  background-color: #F8F8F8;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
}

.main--scrooll-btn {
  cursor: pointer;
  display: none;
  background-image: url('./icons/chevron-up.svg');
  background-repeat: no-repeat;
  background-position: center;
  left: calc(100% - (60px + 100px));
  top: calc(100% - (60px + 57px));
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: #378A6F;
  transition: all 3s linear;
}

.main--section--photo--confirm {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-bottom: 24px;
}

.main--section--photo--confirm--img {
  margin-right: 12px;
}

.main--section--photo--confirm--labels {

}

.main--section--photo--confirm--labels-title {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #CF9D52;
}

.main--section--photo--confirm--labels-subtitle {
  font-family: 'Montserrat';
  font-size: 15px;
  font-weight: 500;
  color: #BBBBBB;
}

.main--content {
  background-image: url('./icons/path.svg');
  background-repeat: no-repeat;
  background-position: 45% 0%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
}

.main--section {
  max-width: 1180px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main--section--title {
  font-size: 44px;
  font-weight: 700;
  font-family: 'Book antiqua';
  text-transform: uppercase;
  padding-bottom: 30px;
}

.main--section--subtitle {
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 30px;
}

.main--section--welcome {
  padding-top: 50.89px;
  min-width: 100%;
  background-image: url('./img/background-section.png');
}

.main--section--welcome--content {
  margin-top: calc(128px - 50.89px);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 20px;
}

.main--section--welcome--aside {
  max-width: 680px;
}

.main--section--welcome--aside--title {
  max-height: 92px;
  font-size: 60px;
  font-weight: 700;
  padding-bottom: 20px;
  white-space: nowrap;
}

.main--section--welcome--aside--intro {
  box-sizing: border-box;
  height: 488px;
  padding: 20px;
  background-image: url('./img/Map3.png');
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.main--section--welcome--aside--intro--block {
  padding: 20px 30px;
  background-color: #fff;
  border: 1px solid #BBBBBB;
}

.main--section--welcome--aside--intro--block--title {
  color: #CF9D52;
  font-weight: 700;
  font-size: 28px;
  text-transform: uppercase;
  font-family: 'Book antiqua';
  padding-bottom: 12px;
}

.main--section--welcome--aside--intro--block--subtitle {
  color: #292929;
  font-weight: 400;
  font-size: 18px;
  font-family: 'Montserrat';
}

.main--section--welcome--main {
  max-width: 480px;
  overflow: hidden;
}

.main--section--welcome--main--items {
  min-width: 480px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  max-height: 580px;
  margin-bottom: 20px;
}

.main--section--welcome--main--controls {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  padding-bottom: 24.5px;
}

.main--section--welcome--main--item {
  cursor: pointer;
  box-sizing: border-box;
  max-width: 230px;
  background-color: #378A6F;
  padding: 12px;
  height: 280px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.main--section--welcome--main--item--official {
  background-image: url('./img/Official.png');
}

.main--section--welcome--main--item--merchant {
  background-image: url('./img/Merchant.png');
}

.main--section--welcome--main--item--fireman {
  background-image: url('./img/fireman.png');
}

.main--section--welcome--main--item--innkeeper {
  background-image: url('./img/Innkeeper.png');
}

.main--section--welcome--main--item--title {
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  font-family: 'Book antiqua';
  margin-bottom: 10px;
}

.main--section--welcome--main--item--desc {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main--section--welcome--main--item--desc--icon {
  margin-right: 13px;
}

.main--section--welcome--main--item--desc--label {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Montserrat';
}

.main--section--story-origin {
  padding-top: 140px;
  min-width: 100%;
  background-image: url('./img/background-section.png');
}

.main--section--content {
  max-width: 1180px;
  align-items: start;
}

.main--section--characters--title {
  text-align: left;
  align-self: flex-start;
}

.main--section--characters--body {
  display: flex;
  flex-direction: row;
  gap: 30px;
  padding-bottom: 140px;
}

.main--section--characters--body--items {
  display: flex;
  flex-direction: row;
  gap: 20px;
  overflow-x: hidden;
  max-width: 1180px;
}

.main--section--characters--body--item {
  max-width: 380px;
}

.main--section--characters--body--item--img {
  margin-bottom: 16px;
}

.main--section--characters--body--item--title {
  color: #CF9D52;
  font-weight: 700;
  font-size: 24;
  font-family: 'Montserrat';
  margin-bottom: 2px;
}

.main--section--characters--body--item--subtitle {
  font-weight: 400;
  font-size: 16;
  font-family: 'Montserrat';
}

.main--section--characters--body--arrow {
  cursor: pointer;
  flex-shrink: 1;
}

.main--section--characters--body--arrow--right {
  transform: scale(-1);
}

.main--section--map {
  min-width: 100%;
  padding-bottom: 140px;
  background-image: url('./img/background-section.png');
}

.main--section--new-story {
  
}

.main--section--new-story--body {
  display: flex;
  gap: 20px;
  padding-bottom: 140px;
}

.main--section--new-story--body--reversed {
  flex-direction: row-reverse;
}

.main--section--new-story--body--aside {
  background-color: #378A6F;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('./img/history_card.png');
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.main--section--new-story--body--aside--title {
  color: #fff;
  font-size: 20px;
  font-family: 'Montserrat';
  font-weight: 500;
}

.main--section--new-story--body--items {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main--section--new-story--body--item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 480px;
  height: 110px;
  border: 1px solid #BBBBBB;
  background-color: #F8F8F8;
  cursor: pointer;
}

.main--section--new-story--body--item--active {
  background-color: #378A6F;
}

.main--section--new-story--body--item--title {
  color: #BBBBBB;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Montserrat';
}

.main--section--new-story--body--item--active .main--section--new-story--body--item--title {
  color: #fff;
  background-color: #378A6F;
}

.main--section--news--header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.main--section--news--header--title {
  font-family: 'Book antiqua';
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}

.main--section--news--header--show-all {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.main--section--news--header--show-all--label {
  margin-right: 12px;
  color: #CF9D52;
}

.main--section--news--header--show-all--icon {
  transform: scale(-1);
}

.main--section--news--body {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.main--section--news--body--item {
  display: flex;
  flex-direction: column;
  max-width: 380px;
}

.main--section--news--body--item--img {
  background-color: #BBBBBB;
  height: 300px;
  margin-bottom: 16px;
  background-image: url('./icons/default.svg');
  background-size: 75px 75px;
  background-repeat:  no-repeat;
  background-position: center;
}

.main--section--news--body--item--date {
  color: #BBBBBB;
  font-family: 'Montserrat';
}

.main--section--news--body--item--title {
  font-size: 24px;
  font-weight: 700;
  color: #CF9D52;
  font-family: 'Montserrat';
}

.main--section--news--body--item--subtitle {
  color: #292929;
  font-family: 'Montserrat';
  margin-bottom: 16px;
}

.main--section--contacts-and-photo {
  min-width: 100%;
  background-image: url('./img/background-section.png');
  background-repeat: no-repeat;
}

.main--section--feedback {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 100px;
}

.main--section--contacts-and-photo {
  padding-top: calc(140px - 21px);
}


.main--section--contacts {

}

.main--section--photo {
  max-width: 480px;
}

.main--section--contacts--content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.main--section--contact {
  flex-direction: row;
  display: flex;
  align-items: center;
}

.main--section--contact--plate {
  background-color: #CF9D52;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 12px;
}

.main--section--contact--label {
  font-size: 20px;
  font-weight: 400;
  font-family: 'Montserrat';
  color: #292929;
}
/* common */
.btn {
  margin-bottom: 24px;
  background-color: #CF9D52;
  border: none;
  padding: 20px 183px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat';
  cursor: pointer;
}
.btn:disabled {
  background-color: #BBBBBB;
  cursor: default;
}
.btn--outlined {
  /* horizontal padding is 111px */
  padding: 14px 110.12px;
  border: 1px solid #CF9D52;
  background-color: #fff;
  color: #CF9D52;
}

.btn--minimized {
  padding: 20px 29.5px;
  margin-bottom: 0px;
  width: 180px;
}

.input:focus {
  outline: none;
}

.input {
  width: 483px;
  margin-bottom: 24px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #BBBBBB;
  padding: 20px 0px;
  font-size: 20px;
  font-weight: 500;
  font-family: 'Montserrat';
  caret-color: #CF9D52;
}

.input::placeholder {
  color: #BBBBBB;
  display: inline;
}

.input::placeholder::after {
  display: inline;
  color: red;
  content: '*';
  visibility: visible;
}

.checkbox {
  background-color: transparent;
  border: 1.5px solid #CF9D52;
  width: 20px;
  height: 20px;
  appearance: none;
  cursor: pointer;
  border-radius: 4px;
}

.checkbox:checked {
  appearance: none;
  background-image: url('./icons/check.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.checkbox::after, .checkbox::before {
  background-color: gray;
}

.main--section--confirm {
  display: flex;
}

.main--section--confirm .checkbox {
  margin-right: 8px;
} 

.main--section--confirm--label {
  font-family: 'Montserrat';
}

.main--section--confirm--label--privacy {
  color: #CF9D52;
  cursor: pointer;
}

/* footer */

.footer {
  height: 133px;
  width: 100%;
  background-color: #378A6F;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 67.5px;
}

.footer--content {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer--content--header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  gap: 54.5px;
}

.footer--content--divider {
  background-color: rgba(255, 255, 255, 0.2);
  width: 100%;
  height: 1px;
  margin-bottom: 16px;
}
.footer--content--subtitle, .footer--content--subtitle--mobile {
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  font-family: 'Montserrat';
}

.footer--content--subtitle--mobile {
  display: none;
}
/* media header, footer of 768px */
@media (max-width: 1200px) {
  .header {
    justify-content: space-between;
  }
  .nav {
    display: none;
  }
  .footer--content {
    width: 100%;
    padding: 0px 40px;
    justify-content: space-between;
  }
  
  .footer--content--header {
    justify-content: space-between;
  }
  .footer--content--divider {
    display: none;
  }
  .footer--content--subtitle {
    display: none;
  }
  .footer--content--subtitle--mobile {
    display: block;
  }
}
/* common media */
@media (max-width: 360px) {
  .footer--content {
    padding: 0px 16px;
  }
  .footer--content--subtitle--mobile {
    display: none;
  }
  .footer--content--divider {
    display: block;
  }
  .footer--content--subtitle {
    display: block;
  }
}
